.navigation-bar {
  background: linear-gradient(45deg, #b50f0f, #4354cfd6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 70px;
  color: #fff;
}

.navigation-bar ul {
  list-style: none;
  display: flex;
}

.navigation-bar ul li {
  margin-left: 10px;
  cursor: pointer;
  color: #fff;
}

.navigation-bar ul li a{
  color: #fff;
  text-decoration: none;
}

.main{
  height: 100vh;
  width: 100%;
  
}
